@import url('https://fonts.googleapis.com/css?family=Merriweather');

* { 
	margin: 0; 
	background-color: #1a161a;
}

body { 
	display: grid;
	grid-template-columns: 400px 800px;
	grid-template-areas:   "graph timeline";
	line-height: 1.6; font-family: 'Merriweather', serif;
}

h1, h2, p { 
	margin-bottom: 1rem; 
}

a { 
	color: inherit; 
}

svg {
    display: block;
}

#timeline {
	display: block;	
}


#graph {
	border-right: solid;
	background-color: #1f191f;
}